*.classpath
*.project
*.settings/
*target/
*.iml
*.class
*.log*
.DS_Store
/build
/crawldb
/lib
/logs
/runtime
/urls
/src/testresources/test-segments
/.idea/
dependency-reduced-pom.xml
hs_err_pid*
hadoop.log*
*library/
*classifiers/
*data/
*nlpir/
/lib
*models/
*.cache
*.cache-tests
*.cache-tests
*SimpleDemo*.scala
*SimpleDemo*.java

